extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tortor porttitor, euismod mauris sit amet, pulvinar elit. Aliquam erat volutpat. Aenean ante leo, pulvinar egestas mollis in, viverra ac ipsum. Cras convallis ut nisl ut volutpat. Etiam finibus velit a imperdiet varius.

                p Mauris elementum, diam nec congue dictum, purus justo dictum lorem, et cursus dui nibh in tortor. Nulla efficitur vulputate dolor id facilisis. Nunc pretium urna turpis, ac feugiat odio consequat sed. Nullam iaculis urna in turpis tempor, sit amet fringilla lorem faucibus. Phasellus enim lorem, pellentesque ut sem a, viverra euismod nibh.

                p Nam ante odio, semper nec felis sed, sodales convallis est. Curabitur ultrices semper blandit. Integer id molestie diam. Vivamus elementum vestibulum risus, quis rhoncus nunc imperdiet ac. Nunc sed lobortis erat, sed cursus odio.
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Integer id molestie diam. Vivamus elementum vestibulum risus, quis rhoncus nunc imperdiet ac. Nunc sed lobortis erat, sed cursus odio.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Integer id molestie diam. Vivamus elementum vestibulum risus, quis rhoncus nunc imperdiet ac. Nunc sed lobortis erat, sed cursus odio.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Integer id molestie diam. Vivamus elementum vestibulum risus, quis rhoncus nunc imperdiet ac. Nunc sed lobortis erat, sed cursus odio.